
<div>
<hr></hr>

<div class="container">

  <div class="panel-group" id="book.title">
   <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h1 class="text-left">{{book.title}}</h1> <h1 class="pull-right">Rs 556</h1>
        </div>
      </div>
        <div class="panel-body">
         <br>
         <h3>{{book.author}}</h3><br>
         <img src="{{book.image}}"><br>

         <button type="button" class="btn btn-link active" ng-click="Description=true;Specification=false;Review=false">Description</button>
         <button type="button" class="btn btn-link" ng-click="Specification=true;Description=false;review=false">Specification</button>
         <button type="button" class="btn btn-link" ng-click="Specification=false;Description=false;review=true">Review</button>

          <div ng-show="Description">
             <p>{{book.description}}</p>
          </div>

          <div ng-show="Specification">
            <p>{{book.specifications}}</p>
          </div>

          <div ng-show="review">
           <h2>Reviews<//h2>
             <div ng-repeat="rev in book.reviews">
               <div class="panel-group" id="book.review">
                  <div class="panel panel-default">
                     <div class="panel-body">
                       <p><b>Stars:{{rev.star }}</b> {{rev.comment}}<br></p>
                       <small>by <i>{{rev.email}}</i></small>
                     </div>
                  </div>
                </div>
              </div>
                <button type="button" class="btn btn-warning" ng-click="Add_review=(Add_review==true)?false:true">ADD Review</button><br>
                 <div class="panel-group" id="book.Add_review" ng-show="Add_review">
                   <div class="panel panel-default">
                     <div class="panel-body">
                       Rate the book: <select ng-model"Star">
                       <option value="Star5">5 Stars</option>
                       <option value="Star4">4 Stars</option>
                       <option value="Star3">3 Stars</option>
                       <option value="Star2">2 Stars</option>
                       <option value="Star1">1 Star</option>
                       </select>
                       <textarea rows="4" cols="50" placeholder="Write a Short Review of book" ng-model="strw"></textarea>
                       <input type="text"  placeholder="Enter your Email Id" ng-model="yemail">
                       
                       <button type="button" class="btn btn-primary" ng-click="submitReview($index,book.id,star,strw,yemail)">Submit Review</button>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
